/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* Font-Family
 font-family: 'Playpen Sans', cursive;
 font-family: 'Montserrat', sans-serif; */

 /* Backdrop-filter */
 /* -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25); */


body {
  background-color: #2c2c2c;
}

nav{
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: 'Playpen Sans';
}

.logo a{
  font-size: 26px;
}

.nav-content{
  display: flex;
  gap: 20px;
}

.nav-btn {
  display: flex;
  gap: 15px;
}

.nav-btn a:nth-child(2) {
  border: 1px solid #000;
  background-color: aliceblue;
  color: #000;
  border-radius: 150px;
  padding: 0 8px;
}

.nav-btn a:nth-child(2):hover {
  border: 1px solid #000;
  background-color: #4caf50;
  color: #000;
  border-radius: 150px;
  padding: 0 8px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.nav-content a:hover {
  border: 1px solid #000;
  background-color: aliceblue;
  color: #000;
  border-radius: 150px;
  padding: 0 8px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


@media screen and (max-width: 1024px) {
  .nav-content {
    display: none;
  }
  .mySlides img{
    width: 100%;
    height: 100%;
  }
}

.mySlides {
  display: none;
  padding:0 20px ;
}
.mySlides img {
  width: 100%;
  height: 600px;
  border-radius: 50px;
}
/* Slideshow container */
.slideshow-container {
width: 100%;
position: relative;
padding-top: 20px;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.testimonial{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonial-header{
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.testimonial-header h1{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}


.snip1574 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.7;
  border-radius: 50px;
}

.snip1574 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}



@media screen and (max-width: 900px) {
  
  .mySlides img{
    height: auto;
  }
  
}


